doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, height=device-height') 
		meta(name='description' content='SquareInCube - логическая онлайн игра')
		title squareInCube
		script(type='text/javascript' src='https://cdn.socket.io/socket.io-1.2.1.js')
		script(type='text/javascript' src='/javascripts/jquery.js')
		script(type='text/javascript' src='/javascripts/game.js')
		link(rel='stylesheet' href='/stylesheets/game.css')
		link(rel='shortcut icon' href='/favicon.ico')
	body
		div(id='loading')
		div(id='main')