doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, height=device-height') 
		meta(name='description' content='SquareInCube - логическая онлайн игра')
		title Threedo - Логическая онлайн игра
		script(type='text/javascript' src='/javascripts/jquery.js')
		script(type='text/javascript' src='/javascripts/index.js')
		link(rel='stylesheet' href='/stylesheets/normalize.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700,900&amp;subset=cyrillic')
		link(rel='stylesheet' href='/stylesheets/index.css')
		link(rel='shortcut icon' href='/favicon.ico')
	body
		div(class='wrapper')
			div(id='logotype')
			div(id='content')
				div(class='tab' id='tab-play')
					h3 Создать новую игру
					form(method='post' action='' id='createGame')
						div(class='overflow')
							input(type='text' name='name' placeholder='Название игры' maxlength='32')
							div(class='setline')
								span Количество игроков
								div(class='counterBox' data-count='players')
									div(id='plus' data-count-max='4')
									div(id='minus' data-count-min='2')
								input(type='text' name='players' value='3' disabled class='counterValue' data-count='players')
							div(class='setline')
								span Размер карты
								div(class='counterBox' data-count='mapsize')
									div(id='plus' data-count-max='3')
									div(id='minus' data-count-min='1')
								input(type='text' name='mapsize' value='2' disabled class='counterValue' data-count='mapsize')
							div(class='setline')
								span Частота блоков
								div(class='counterBox' data-count='generate')
									div(id='plus' data-count-max='30')
									div(id='minus' data-count-min='3')
								input(type='text' name='generate' value='20' disabled class='counterValue' data-count='generate')
							button создать игру
					h3 Найти существующую
					form(method='post' action='' id='searchGame')
						input(type='text' name='name' placeholder='Название игры' maxlength='32')
						button искать
					h4 Последние 10 игр
					div(id='gamelist') ...
				div(class='tab' id='tab-main')
					div(id='playButton') Начать игру
					div(class='text desc')
						| Threedo - логическая онлайн игра, которая в целом похожа на смесь игр 'тетрис' и 'крестики-нолики'.
						br
						br
						| В игре участвует от двух до четырех игроков, у каждого из которых свой цвет блоков. Игроки по очереди ставят блоки в игровом мире. Блоки нельзя ставить в воздух, а только на основание, блоки других игроков и блоки мира. Победителем считается тот, кто первым выставит горизонтально, вертикально или диагонально три блока своего цвета.
						br
					div(class='github-item')
						a(class="github-button" href="https://github.com/essle/threedo/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch essle/threedo on GitHub") Watch
					div(class='github-item')
						a(class="github-button" href="https://github.com/essle" data-size="large" data-show-count="true" aria-label="Follow @essle on GitHub") Follow @essle
					script(async defer src="https://buttons.github.io/buttons.js")