.editor {
  display: flex;
  align-items: center;
  flex-direction: column;

  .inputs {
    margin-bottom: 30px;

    .input {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .input-label {
        width: 60px;
        text-align: right;
        font-size: 11px;
        line-height: 11px;
        margin-right: 10px;
        color: #bac7d6;
      }

      input {
        width: 200px;
        -webkit-appearance: none;
        background: transparent;

        &:focus {
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: 4px solid #0f141a;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #ffffff;
          cursor: pointer;
          margin-top: -5px;
        }

        &::-moz-range-thumb {
          -webkit-appearance: none;
          border: 4px solid #0f141a;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #ffffff;
          cursor: pointer;
        }

        &::-ms-thumb {
          -webkit-appearance: none;
          border: 4px solid #0f141a;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background: #ffffff;
          cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 8px;
          border-radius: 4px;
          cursor: pointer;
          background: #5b6b7d;
        }

        &::-moz-range-track {
          width: 100%;
          height: 8px;
          border-radius: 4px;
          cursor: pointer;
          background: #5b6b7d;
        }

        &::-ms-track {
          width: 100%;
          height: 8px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          border-width: 16px 0;
          color: transparent;
        }

        &::-ms-fill-lower {
          background: #2a6495;
          border: 0.2px solid #010101;
          border-radius: 2.6px;
          box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        }

        &::-ms-fill-upper {
          background: #3071a9;
          border: 0.2px solid #010101;
          border-radius: 2.6px;
          box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
        }
      }

      .input-value {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 700;
        width: 60px;
      }
    }
  }

  .buttons {
    display: flex;

    button,
    .button {
      border: none;
      color: #fff;
      background: #ff5d00;
      padding: 14px 22px;
      border-radius: 3px;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: background 0.1s ease-in;

      &:hover {
        cursor: pointer;
        background: #684473;
      }

      &.close {
        margin-right: 10px;
        background: #5b6b7d;

        &:hover {
          background: #684473;
        }
      }
    }
  }

}