* {
	outline: none;
	margin: 0;
	border: none;
	padding: 0;
}

html,
body,
#main {
	width: 100%;
	height: 100%;
}

body {
	background: #eee;
	font: 12px 'Lucida Grande', 'Arial', 'Tahoma', 'Verdana', 'Sans-serif';
	color: #444;
}

#loading {
	z-index: 9;
	background: #eee url('../images/loading.gif') center center no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#main {
	position: relative;
	text-align: center;
}

.error {
	width: 600px;
	text-align: center;
	color: #e74c3c;
	overflow: hidden;
	margin: 0 auto;
}
.error h1 {
	width: 600px;
	height: 60px;
	line-height: 60px;
	margin-top: 100px;
}
.error a {
	border: none;
	color: #444;
	opacity: 0.7;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	line-height: 25px;
	text-transform: uppercase;
	margin-bottom: 100px;
}
.error a:hover {
	opacity: 1;
}

.worldBody {
	margin: 0 auto;
	overflow: hidden;
	padding: 50px 0;
}

#world {
	background: #eee;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#chat {
	display: none;
	height: 100px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #fafafa;
	margin: 5px 50px 0 50px;
}
#chat .messages {
	float: left;
	height: 85px;
	width: 523px;
	margin: 7px 7px 7px 10px;
	overflow-y: scroll;
}
#chat .messages i {
	float: left;
}
#chat .messages .message {
	display: block;
	text-align: left;
	overflow: hidden;
	margin: 3px 0;
}
#chat .messages .message .autor {
	float: left;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	width: 12px;
	height: 12px;
}
#chat .messages .message span {
	float: left;
	word-wrap: break-word;
	width: 480px;
	margin-left: 5px;
}
#chat .tools {
	float: right;
	width: 240px;
	border-left: 1px solid #eee;
	height: 100px;
	background: #fff;
}
#chat .tools * {
	font: 12px 'Lucida Grande', 'Arial', 'Tahoma', 'Verdana', 'Sans-serif';
	display: block;
}
#chat .tools textarea {
	resize: none;
	margin: 5px;
	width: 230px;
	height: 60px;
}
#chat .tools button {
	background: #e74c3c;
	padding: 6px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
	margin: 5px 0 0 155px;
	width: 80px;
}
#chat .tools button:hover {
	cursor: pointer;
	background: #34495e;
}

#data {
	height: 46px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: #fff;
	margin: 10px 50px 0 50px;
}
#data .mark {
	float: left;
	font-size: 14px;
	height: 46px;
	line-height: 46px;
	border-right: 1px solid #eee;
	padding: 0 15px;
}
#data .mark span {
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 4px;
}
#data .mark span.win {
	margin: 0;
}
#data .mark span#timeout {
	margin-left: 4px;
	font-size: 18px;
}
#data .mark .pointList {
	float: left;
	overflow: hidden;
}
#data .mark .point,
#data .mark .pointEmpty {
	float: left;
	margin: 16px 0 0 4px;
	width: 13px;
	height: 13px;
	border-radius: 3px;
}
#data .mark .pointEmpty {
	width: 5px;
	height: 5px;
	background: #aaa;
	margin: 20px 4px 0 8px;
}
#data .tools {
	float: right;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
}
#data .tools a {
	display: inline-block;
	margin-left: 6px;
	color: #34495e;
	font-weight: bold;
	text-decoration: none;
}
#data .tools  a:hover {
	color: #e74c3c;
}

#awaiting {
	z-index: 8;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.9);
}
#awaiting .modal {
	width: 360px;
	height: 64px;
	position: fixed;
	z-index: 9;
	top: 50%;
	left: 50%;
	margin: -32px 0 0 -180px;
}
#awaiting .modal .loader {
	position: relative;
	border-right: 10px solid rgba(255,255,255,0.2);
	border-top: 10px solid rgba(255,255,255,0.2);
	border-bottom: 10px solid rgba(255,255,255,0.2);
	border-left: 10px solid #ffffff;
	-webkit-animation: load 1.0s infinite linear;
	animation: load 1.0s infinite linear;
	float: left;
}
#awaiting .modal .loader,
#awaiting .modal .loader:after {
	border-radius: 50%;
	width: 44px;
	height: 44px;
}
@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#awaiting .modal span.text {
	float: right;
	margin-top: 9px;
	color: #fff;
	text-align: left;
}
#awaiting .modal span.text b {
	text-transform: uppercase;
	font-size: 24px;
	display: block;
}