.lobby-title {
  text-align: center;
  margin: 20px 0;
  color: #46515e;
  font-size: 11px;
}

.lobby-list {
  width: 210px;

  .lobby-item {
    display: flex;
    background: #11181f;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 30px rgba(#000, 0.05);
    transition: all 0.1s ease-out;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      background: #222c38;
    }

    .group {
      display: flex;
      align-items: center;
    }

    span {
      display: inline-block;

      &.date {
        margin-right: 9px;
        color: rgba(#fff, 0.5);
        font-size: 11px;
        border-right: 1px solid rgba(#fff, 0.1);
        padding-right: 8px;
      }

      &.name {
        color: #fff;
        font-size: 15px;
        margin-right: 20px;
      }

      &.players {
        color: #5a6a7d;
        padding-right: 24px;
        background: url('./icons/players.svg') right 0 no-repeat;
        background-size: 14px;
        white-space: nowrap;

        b {
          color: #8aa0ba;
        }
      }
    }
  }
}