.container-lobby {
  .error {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: #c92929;
    height: 100%;

    span {
      max-width: 30%;
      color: #fff;
      font-size: 64px;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;
    }
  }

  .waiting {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0f141a;
    z-index: 999;
    flex-direction: column;

    .loading {
      margin-bottom: 50px;

      span {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 8%;
        margin: 8px;
        animation: 0.8s linear infinite animation-jump;

        &.empty {
          background: #fff;
        }

        &:nth-child(1) {
          animation-delay: 0.1s;
        }

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.3s;
        }

        &:nth-child(4) {
          animation-delay: 0.4s;
        }

        &:nth-child(5) {
          animation-delay: 0.5s;
        }
      }
    }

    .players {
      margin-top: 10px;
      align-items: center;
      display: flex;

      span {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 200;
        opacity: 0.5;

        &:not(:last-child) {
          margin-right: 15px;
        }

        &.number {
          margin-top: -1px;
          font-size: 32px;
          font-weight: 700;
          opacity: 0.7;
        }
      }
    }
  }

  .game-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    justify-content: center;
    flex: 1;
    overflow: hidden;

    .info {
      background: #19222D;
      padding: 23px 35px 27px 35px;
      display: flex;
      align-items: center;

      .block {
        text-transform: uppercase;
        color: rgba(#fff, 0.6);

        &:not(:last-child) {
          margin-right: 35px;
        }

        .label {
          margin-bottom: 10px;
          font-size: 10px;
          letter-spacing: 1px;
          height: 11px;
        }

        .value {
          display: flex;
          align-items: center;

          .player {
            min-width: 32px;
            max-width: 32px;
            min-height: 32px;
            max-height: 32px;
            border-radius: 8%;
            box-shadow: 0 5px 10px rgba(#000, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              color: #fff;
              background: rgba(#000, 0.7);
              padding: 2px 3px;
              font-size: 9px;
              border-radius: 3px;
            }
          }

          .empty {
            background: #aaa;
            width: 8px;
            height: 8px;
            margin: 8px;
            border-radius: 4px;
          }

          .player:not(:last-child),
          .empty:not(:last-child) {
            margin-right: 5px;
          }

          .timeout {
            font-size: 16px;
            margin-left: 10px;
            color: #5b6b7d;

            &.danger {
              color: #ffbb00;
              animation: 1s linear infinite animation-pulse;
            }
          }

          .restart {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.player {
  &.slot1 {
    background: linear-gradient(135deg, #ffb300 0%, #ff7300 100%);
  }

  &.slot2 {
    background: linear-gradient(135deg, #e47dff 0%, #9248a6 100%);
  }

  &.slot3 {
    background: linear-gradient(135deg, #3dcbf0 0%, #1b86a2 100%);
  }

  &.slot4 {
    background: linear-gradient(135deg, #f05656 0%, #b53a3a 100%);
  }

  &.slot5 {
    background: linear-gradient(135deg, #a3e75f 0%, #5ea21b 100%);
  }
}

@keyframes animation-jump {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 22px);
  }
}

@keyframes animation-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}